
{% extends "base.html" %}
{% block content %}
    <!-- Page Content -->
    <div class="container padding-container">
        <div class="row">
            <div class="col-md-3">
                {% if not restaurant %}
                    <p class="lead">All Menus</p>
                    <div class="list-group">
                        <a href="{{ url_for('showAllMenusByCategory', category='Appetizer') }}" class="list-group-item">Appetizer</a>
                        <a href="{{ url_for('showAllMenusByCategory', category='Dessert') }}" class="list-group-item">Dessert</a>
                        <a href="{{ url_for('showAllMenusByCategory', category='Entree') }}" class="list-group-item">Entree</a>
                        <a href="{{ url_for('showAllMenusByCategory', category='Beverage') }}" class="list-group-item">Beverage</a>

                    </div>
                {% else %}
                    <p class="lead">{{ restaurant.name | safe }}</p>
                    <div class="list-group">
                        <a href="{{ url_for('showMenuByCategory', restaurant_id=restaurant.id, category='Appetizer') }}" class="list-group-item">Appetizer</a>
                        <a href="{{ url_for('showMenuByCategory', restaurant_id=restaurant.id, category='Dessert') }}" class="list-group-item">Dessert</a>
                        <a href="{{ url_for('showMenuByCategory', restaurant_id=restaurant.id, category='Entree') }}" class="list-group-item">Entree</a>
                        <a href="{{ url_for('showMenuByCategory', restaurant_id=restaurant.id, category='Beverage') }}" class="list-group-item">Beverage</a>
                    </div>
                {% endif %}
                {% if restaurant and 'username' in session %}
                    <div class="vertical-margin-div">
                        <a class="btn btn-md btn-primary" href="{{ url_for('newMenuItem', restaurant_id=restaurant.id) }}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Item
                        </a>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-9">
                {% for menuItems_row in menuItems | batch(3, '&nbsp;')%}
                    <div class="row">
                        {% for menuItem in menuItems_row %}
                            {% if menuItem != '&nbsp;' %}
                                <div class="col-sm-4 col-lg-4 col-md-4">
                                    <div class="thumbnail">
                                        <a href="{{ url_for('showMenuItem', menu_id=menuItem.id) }}">
                                            {% if not menuItem.image %}
                                                <img class="img-responsive" src="http://placehold.it/320x150">
                                            {% else %}
                                                <img class="img-responsive" src="{{ url_for('uploaded_file', filename=menuItem.image) }}">
                                            {% endif %}
                                        </a>
                                        <div class="caption">
                                            <h4 class="pull-right">{{ menuItem.price }}</h4>
                                            <h4><a href="{{ url_for('showMenuItem', menu_id=menuItem.id) }}">{{ menuItem.name | safe }}</a></h4>
                                            <p> <strong>Description: </strong>
                                                {% if menuItem.description | length > 18 %}
                                                    {{ menuItem.description[:16] | safe }} ..
                                                {% else %}
                                                    {{ menuItem.description | safe }}
                                                {% endif %}
                                            </p>
                                            <p><strong>Category: </strong> {{ menuItem.category }}</p>
                                            {%if 'username' in session %}
                                                <div class="text-center vertical-margin-div">
                                                    <a class="btn btn-md btn-primary" href="{{ url_for('editMenuItem', restaurant_id=menuItem.restaurant_id, menu_id=menuItem.id) }}">&nbsp;
                                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> &nbsp;Edit&nbsp;&nbsp;
                                                    </a>
                                                    <a class="btn btn-md btn-primary" href="{{ url_for('deleteMenuItem', restaurant_id=menuItem.restaurant_id, menu_id=menuItem.id) }}">
                                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                                                    </a>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="ratings">
                                            <p class="pull-right">{{ menuItem.reviews }} reviews</p>
                                            <p>
                                                {% for i in range((menuItem.rate | int)) %}
                                                    <span class="glyphicon glyphicon-star"></span>
                                                {% endfor %}
                                                {% for i in range(5 - (menuItem.rate | int)) %}
                                                    <span class="glyphicon glyphicon-star-empty"></span>
                                                {% endfor %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <hr>
    <!-- /.container -->
{% endblock %}
