{% extends "base.html" %}
{% block content %}
    <div class="container  padding-container">
        <form method="post" action="{{ url_for('newRestaurant') }}" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
            </div>
            <div class="form-group">
                <label for="telephone">Telephone</label>
                <input type="tel" class="form-control" id="telephone" name="telephone" placeholder="Telephone" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
               <textarea class="form-control" rows="3" id="description" name="description" required></textarea>
            </div>
            <div class="form-group">
                <label for="image">File input</label>
                <input type="file" id="image" name="image">
                <p class="help-block">Upload image</p>
            </div>
            <button type="submit" class="btn btn-md btn-primary">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
            </button>
            <a class="btn btn-md btn-primary" href="{{ url_for('showAllRestaurants') }}">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
            </a>
        </form>
    </div>
    <hr>
{% endblock %}
